body{
    font-family: Tribuchet;
    margin: 0px;
}


header{
    color: white;
    background-color: red;

}
.LienTitre {
    text-decoration: none; 
    color: red;
}

.LienTitre:visited {
    color: black; 
}

.LienTitre:hover {
    color: yellow; 
}

.LienTitre:active {
    color: green; 
}


h3 {
    text-decoration: underline; 
    color: red; 
    font-size: 50px; 
    padding: 10px; 
    margin: 10px 0; 
}

#form {
    width: 500px; 
    padding: 20px;
    background-color: #f2f2f2;
}

.btn {
    background-color: #DED983;
    font-size: 1.2em; 
    color: #345071; 
    font-family: 'Trebuchet MS', Verdana, sans-serif; 
}


footer {
    background-color: red; 
    color: white; 
}
